<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link
          rel="stylesheet"
          as="style"
          onload="this.rel='stylesheet'"
          href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
  />

  <title>Stitch Design</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
<div class="relative flex size-full min-h-screen flex-col bg-gray-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
  <div class="layout-container flex h-full grow flex-col">
    <div class="gap-1 px-6 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col w-80">
        <div class="flex h-full min-h-[700px] flex-col justify-between bg-gray-50 p-4">
          <div class="flex flex-col gap-4">
            <h1 class="text-[#0d141c] text-base font-medium leading-normal">주차장 관리</h1>
            <div class="flex flex-col gap-2">
              <a href="/">
                <button class="flex items-center gap-3 px-3 py-2">
                  <div class="text-[#0d141c]" data-icon="MagnifyingGlass" data-size="24px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M168,112a56,56,0,1,1-56-56A56,56,0,0,1,168,112Zm61.66,117.66a8,8,0,0,1-11.32,0l-50.06-50.07a88,88,0,1,1,11.32-11.31l50.06,50.06A8,8,0,0,1,229.66,229.66ZM112,184a72,72,0,1,0-72-72A72.08,72.08,0,0,0,112,184Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">가격 정책 조회</p>
                </button>
              </a>
              <a href="/update-policy">
                <button class="flex items-center gap-3 px-3 py-2">
                  <div class="text-[#0d141c]" data-icon="PencilSimple" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">가격 정책 수정</p>
                </button>
              </a>
              <a href="/parking-info">
                <button class="flex items-center gap-3 px-3 py-2">
                  <div class="text-[#0d141c]" data-icon="Car" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M240,112H229.2L201.42,49.5A16,16,0,0,0,186.8,40H69.2a16,16,0,0,0-14.62,9.5L26.8,112H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V192h96v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V128h8a8,8,0,0,0,0-16ZM69.2,56H186.8l24.89,56H44.31ZM64,208H40V192H64Zm128,0V192h24v16Zm24-32H40V128H216ZM56,152a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H64A8,8,0,0,1,56,152Zm112,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,152Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">차량 기록 조회</p>
                </button>
              </a>
              <a href="/revenue">
                <button class="flex items-center gap-3 px-3 py-2">
                  <div class="text-[#0d141c]" data-icon="CurrencyCircleDollar" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm40-68a28,28,0,0,1-28,28h-4v8a8,8,0,0,1-16,0v-8H104a8,8,0,0,1,0-16h36a12,12,0,0,0,0-24H116a28,28,0,0,1,0-56h4V72a8,8,0,0,1,16,0v8h16a8,8,0,0,1,0,16H116a12,12,0,0,0,0,24h24A28,28,0,0,1,168,148Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">월 별 총합 매출 조회</p>
                </button>
              </a>
              <a href="/entrance">
                <button class="flex items-center gap-3 px-3 py-2">
                  <div class="text-[#0d141c]" data-icon="SignIn" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M141.66,133.66l-40,40a8,8,0,0,1-11.32-11.32L116.69,136H24a8,8,0,0,1,0-16h92.69L90.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,141.66,133.66ZM192,32H136a8,8,0,0,0,0,16h56V208H136a8,8,0,0,0,0,16h56a16,16,0,0,0,16-16V48A16,16,0,0,0,192,32Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">입차 처리</p>
                </button>
              </a>
              <a href="/exit">
                <button class="flex items-center gap-3 px-3 py-2 rounded-lg bg-[#e7edf4]">
                  <div class="text-[#0d141c]" data-icon="SignOut" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                              d="M112,216a8,8,0,0,1-8,8H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h56a8,8,0,0,1,0,16H48V208h56A8,8,0,0,1,112,216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L196.69,120H104a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32,11.32l40-40A8,8,0,0,0,221.66,122.34Z"
                      ></path>
                    </svg>
                  </div>
                  <p class="text-[#0d141c] text-sm font-medium leading-normal">출차 처리</p>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight min-w-72">출차 처리</p></div>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <input id="car-number" type="text" name="car-number"
                   placeholder="차량 번호 입력"
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border border-[#d4dce2] bg-gray-50 focus:border-[#d4dce2] h-14 placeholder:text-[#5c748a] p-[15px] text-base font-normal leading-normal"
                    value=""
            />
          </label>
          <button id="exitBtn"
                  class="px-4 py-2 mt-2 bg-blue-500 text-gray-50 font-semibold rounded-md">
            출차
          </button>
        </div>
      </div>
      <div id="entrySuccessModal" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center hidden z-50">
        <div class="bg-white rounded-2xl p-6 w-80 text-center shadow-lg">
          <h2 class="text-xl font-bold mb-4 text-green-600">출차 성공</h2>
          <p class="text-sm text-gray-700 mb-6">차량이 정상적으로 출차 처리되었습니다.</p>
          <button onclick="closeEntrySuccessModal()" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md">
            확인
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/outCar.js"></script>
</body>
</html>
